.post {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 14px 14px 28px #cccccc, -14px -14px 28px #ffffff;
  padding: 20px;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}
